@font-face {
    font-family: Cranberry;
    src: url('../../../../fonts/cranberry_gin.ttf');
}

body {
	text-align: center;
    font-family: 'Cranberry', sans-serif;
}

h1{
    color: #ffffff;
    font-weight: normal;
    font-size: 45px;
}

body{
    background-image: url("../../../../images/projects/parameters/background.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

canvas
{
    border: white solid 5px;
    border-radius: 5px;
}
