@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
    font-family: Earwig;
    src: url('../fonts/earwig_factory.otf');
}

html, body {
    width: 100%;
    height: 100%;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
	font-family: Earwig, sans-serif;
    background-image: url("../images/BackgroundStars.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
}


.context {
    width: 100%;
    position: absolute;
    top: 5vh;
    
}

.logo {
    width: 100%;
    position: relative;
}

.logo img:nth-child(1){
    display: block;
    position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
    animation: spin 4s linear infinite;
}

.context h1{
    text-align: center;
    color: #ffffff;
    font-size: 70px;
    font-weight: normal;
}
.context h2{
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    font-weight: normal;
}

.context h3{
    color: #ffffff;
    font-size: 70px;
    font-weight: normal;
    margin-left: 30px;
}

footer {
    display: flex;
    background-image:  url("../images/Grass.png");
    position: fixed;
    width: 100%;
    height: 35%;
    left: 0;
    bottom: 0;
    align-items: flex-end;
    pointer-events: none;
}

@media screen and (max-width: 1000px) {
    .navButton {
        display: none;
    }
}

.navButton {
    color: #ffffff;
    text-decoration: none;
    margin: 15px;
    font-size: 35px;
    pointer-events: all;
}

.navButton img:nth-child(1) {
    width: 40px;
}

.credit {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    margin-left: auto;
    text-align: end;
}

/* PROJECTS PAGE */
.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.tiles a {
    margin: 10px;
}

@media screen and (max-width: 650px) {
    .tiles a img {
        width: 350px;
    }
}

.game_description {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 30px;
}

.game_buttons img {
    height: 100px;
    margin-right: 20px;
    margin-bottom: 10px
}

.game_gallery img {
    width: 400px;
    margin: 10px;
}

@media screen and (max-width: 650px) {
    .game_gallery img {
        width: 300px;
        margin: 10px;
    }
}

.borderButton {
    font-family: Earwig, sans-serif;
    border: 5px solid #ffffff;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}
.borderButton a {
    display: flex;
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
    align-items: center;
}
.borderButton img{
    width: 50px;
    margin-right: 10px;
}

/* MOBILE NAVBAR */

.mobileLinks {
    display: none;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .mobileNav {
        display: none;
    }
}

.mobileNav {
    margin-left: auto;
    margin-right: auto;
    pointer-events: all;
    background-color: black;
    width: 100%;
}

.navButtonMobile {
    color: #ffffff;
    text-decoration: none;
    margin: 5px;
    font-size: 50px;
}

.navButtonMobileIcon {
    margin: 10px;
}

.navButtonMobileIcon img {
    width: 40px;
    margin-top: 10px;
}

.hamburger_mobile {
    display: flex;
    justify-content: center;
}

.hamburger_mobile img {
    width: 40px;
    margin: 15px;
}

/* OTHER STUFF */

.space {
    margin-bottom: 325px;
}

@keyframes spin{
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }